{% extends 'partial/base.html' %}

{% block content %}
    <div class="container mt-4">
    <h2>Categories</h2>

    {% for category in categories %}
    <div class="card mb-3">
        <div class="card-body d-flex justify-content-between align-items-center">

            <a href="{% url 'category_products' category.slug %}">{{ category.name }}</a>

            <div>
                <a href="{% url 'category_edit' category.id%}" class="btn btn-primary btn-sm">
                    Edit
                </a>

                <form method="post" action="{% url 'category_delete' category.id %}" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            </div>

        </div>
    </div>
    {% endfor %}
</div>
{%endblock %}