{% extends 'base.html' %}

{% block content %}
<div class="row">
    {% for product in products %}
    <div class="col-6 mb-3">
        <div class="card">
            <div class="row g-0">
                <div class="col-4">
                    <img src="{{ product.image }}" class="img-fluid rounded w-100" style="height: 200px; object-fit: contain;" alt="{{ product.name }}">
                </div>
                <div class="col-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p>{{ product.category }}</p>
                        <p><strong>Price: {{ product.price }} KGS</strong></p>
                        <a href="{% url 'product_view' product.id %}">see more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
        <p>No items yet <a href="{% url 'product_add' %}">Do you want to add an item? </a></p>
    {% endfor %}
</div>

{% endblock %}
