{% extends 'partial/base.html' %}

{% block content %}
<h2 class="mb-4">Корзина</h2>

{% if cart_items %}
<table class="table table-bordered">
    <thead class="table-light">
        <tr>
            <th>Товар</th>
            <th>Цена</th>
            <th>Кол-во в корзине</th>
            <th>Сумма</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart_items %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.product.price }} KGS</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.total }} KGS</td>
            <td>
                <a href="{% url 'cart_remove' item.pk %}" class="btn btn-sm btn-outline-danger">
                    <i class="fa-regular fa-trash-can"></i> Удалить
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="3" class="text-end">Итого:</th>
            <th>{{ total }} KGS</th>
            <th></th>
        </tr>
    </tfoot>
</table>
{% else %}
<p>Корзина пуста. <a href="{% url 'products' %}">Перейти к товарам</a></p>
{% endif %}

    <form method="post" action="{% url 'order_create' %}">
    {% csrf_token %}

    <div class="mb-3">
        {{ order_form.name.label_tag }}
        {{ order_form.name }}
    </div>

    <div class="mb-3">
        {{ order_form.address.label_tag }}
        {{ order_form.address }}
    </div>

    <div class="mb-3">
        {{ order_form.phone.label_tag }}
        {{ order_form.phone }}
    </div>

    <button type="submit" class="btn btn-success">
        Оформить заказ
    </button>
</form>

{% endblock %}
